@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

@media (max-width: 600px) {
    #barn-doors {
        height: calc(100vh - 150px); /* Adjust for smaller screens */
        top: calc(70px + 1vh); /* Adjust top for smaller screens */
    }
}


html,body {
    background-color: rgb(27, 27, 27);
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

#barn-doors {
    position: fixed;

   
    
    top: calc(100px + 1vh);
    
    left: 0;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: transform 1s ease-in-out;
}

.barn-door {
    position: absolute;

    
    width: 50%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.barn-door.left {

    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect to the area behind the element */
    border-radius: 10px; /* Rounded corners for a softer look */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border to enhance the glass effect */
     /* Adjust padding as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    left: 0;
    transform-origin: left;
    
    transform: translateX(0);
}

.barn-door.right {

    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect to the area behind the element */
    border-radius: 10px; /* Rounded corners for a softer look */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border to enhance the glass effect */
     /* Adjust padding as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    right: 0;
    transform-origin: right;
    
    transform: translateX(0);
}

#barn-doors.open .barn-door.left {
    transform: translateX(-100%); /* Move left door to the left */
}

#barn-doors.open .barn-door.right {
    transform: translateX(100%); /* Move right door to the right */
}

#barn-doors.closed .barn-door.left {
    transform: translateX(0); /* Move left door to the left */
}

#barn-doors.closed .barn-door.right {
    transform: translateX(0); /* Move right door to the right */
}

/* Add styles for cell pop animation */
/* @keyframes pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
} */

.cell.pop {
    /* animation: pop 0.5s ease-out; Adjust duration and timing function as needed */
}

/* .cell {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.moving {
    opacity: 0;
    transform: scale(0);
} */

@keyframes popOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes popIn {
    0% {
        transform: scale(1.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.cell.pop-out {
    animation: popOut 0.5s ease-out;
}

.cell.pop-in {
    animation: popIn 0.5s ease-in;
}


#game-board {
    display: grid;
    grid-template-columns: repeat(14, 25px); 
    grid-template-rows: repeat(12, 25px);
    grid-gap: 5px;
    margin-top: 20px;
    justify-items: center;
    justify-content: center;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border-radius: 50%; /* Use border-radius to create a circular shape */
    /* transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; */
    position: relative;
    /* overflow: hidden; Clip any overflow */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.cell.clicked {
    transform: scale(1.4);
}

#status-board {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect to the area behind the element */
    border-radius: 10px; /* Rounded corners for a softer look */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border to enhance the glass effect */
     /* Adjust padding as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    z-index: 2;
}

#turn-message {
    width: 120px; /* Adjust the diameter as needed */
    height: 120px; /* Adjust the diameter as needed */
    border-radius: 50%; /* Makes the button circular */
    /* background-color: antiquewhite; */
    color: black; /* Text color */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    font-size: 24px; /* Text size, adjust as needed */
    border: 4px solid #333; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    align-self: center;
    position: absolute;
    z-index: 2;
    margin-top: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -2px 5px rgba(255, 255, 255, 0.6);
}


#winner-message {
    font-size: 24px;
    font-weight: bold;
    color: white;
    position: fixed; /* Fix position relative to the viewport */
    top: 25%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for centering */
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 10px; /* Padding around the text */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    z-index: 1000; /* High z-index to ensure it appears above other content */
    text-align: center;
    display: ; /* Initially hidden */
}

.used {
    opacity: 0.5; /* Make the cell semi-transparent */
    /* pointer-events: none; Disable click events */
}

/* Adjust button styles */
button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;

}

.turn-message {
    color: white;
    
}

/* Add styles for setup section */
#setup {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: relative;
    color: white;
    z-index: 2;
}

/* Remove any focus effects that change the appearance */
#setup input:focus,
#setup input:active {
    background: rgba(255, 255, 255, 0.1); /* Keep the same background color */
    outline: none; /* Remove the default focus outline */
    border: 4px solid #333; /* Keep the same border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Keep the same shadow */
}

/* Optional: If you want to style placeholder text */
#setup input::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Lighter color for placeholder text */
}

.player-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 15px;
    position: relative;
    z-index: 1;

    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect to the area behind the element */
    border-radius: 10px; /* Rounded corners for a softer look */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border to enhance the glass effect */
     /* Adjust padding as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.player1block,
.player2block {
   flex: 1;
}

.start-btn {
    width: 120px; /* Adjust the diameter as needed */
    height: 120px; /* Adjust the diameter as needed */
    border-radius: 50%; /* Makes the button circular */
    background-color: #4CAF50; /* Green background, adjust as needed */
    color: white; /* Text color */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    font-size: 24px; /* Text size, adjust as needed */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    align-self: center;
    position: absolute;
    z-index: 3;
    margin-top: 75px;
    font-weight: bold;
    
}

.playerscore {
    background-color: grey;
    color: grey;
    border-radius: 50%; 
    width: 50px;
    height: 50px;
    margin: 5px;
    
    
    font-size: 24px; /* Text size, adjust as needed */
    border: 4px solid #333; /* Remove default border */
    
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -2px 5px rgba(255, 255, 255, 0.6);
}
#player2-name {
    text-align: end;
}

#setup input {
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur the background behind the element */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
    padding: 5px; /* Space inside the element */
    color: white; /* Text color */
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 5px;
    width: 100px;
    border: 4px solid #333; /* Remove default border */
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -2px 5px rgba(255, 255, 255, 0.6);
}

.player1block {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.player2block {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#setup button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.bottom-btn {
    border: 4px solid #333; /* Remove default border */
    
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -2px 5px rgba(255, 255, 255, 0.6);
    background-color: grey;
    color: white;
    font-size: 16px;
}