html,body {
    background-color: rgb(27, 27, 27);
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(14, 25px); 
    grid-template-rows: repeat(12, 25px);
    grid-gap: 5px;
    margin-top: 20px;
    justify-items: center;
    justify-content: center;
}

.cell {
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    border-radius: 50%; /* Use border-radius to create a circular shape */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    position: relative;
    overflow: hidden; /* Clip any overflow */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.cell.clicked {
    transform: scale(1.4);
}

#status-board {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0;
    padding-top: 50px;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect to the area behind the element */
    border-radius: 10px; /* Rounded corners for a softer look */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border to enhance the glass effect */
     /* Adjust padding as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

#turn-message {
    width: 120px; /* Adjust the diameter as needed */
    height: 120px; /* Adjust the diameter as needed */
    border-radius: 50%; /* Makes the button circular */
    background-color: antiquewhite;
    color: black; /* Text color */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    font-size: 16px; /* Text size, adjust as needed */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    align-self: center;
    position: absolute;
    z-index: 2;
    margin-top: 75px;
    
}



#winner-message {
    font-size: 24px;
    font-weight: bold;
    color: white;
    position: relative;
    text-align: center;
}

.used {
    opacity: 0.5; /* Make the cell semi-transparent */
    /* pointer-events: none; Disable click events */
}

/* Adjust button styles */
button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;

}

.turn-message {
    color: white;
}

/* Add styles for setup section */
#setup {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: relative;
    color: white;
    
}

.player-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
    position: relative;
    z-index: 1;

    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect to the area behind the element */
    border-radius: 10px; /* Rounded corners for a softer look */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border to enhance the glass effect */
     /* Adjust padding as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.player1block,
.player2block {
   flex: 1;
}

.start-btn {
    width: 120px; /* Adjust the diameter as needed */
    height: 120px; /* Adjust the diameter as needed */
    border-radius: 50%; /* Makes the button circular */
    background-color: #4CAF50; /* Green background, adjust as needed */
    color: white; /* Text color */
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    font-size: 16px; /* Text size, adjust as needed */
    border: none; /* Remove default border */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
    align-self: center;
    position: absolute;
    z-index: 3;
    margin-top: 75px;
    
}

#setup input {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
}

#setup button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
